html,body,div,button,canvas,form,input,textarea,ul,li{
	padding:0;
	margin:0;
	font-family:sans-serif;
	font-size:12px;
}

button {
	padding:5px;
	margin-right:10px;
}

html{ 
    height: 100%; 
} 
body{ 
    height: 100%; 
} 
#body { 
    height: 100%;
    min-height: 100%;
} 
body > #body { 
    height: auto; 
}

#wrap{
	width:100%;
	height:100%;
	background-color:#ddd;
	position:relative;
	overflow:hidden;
}

#bg{
	background-color:#fff;
	position:absolute;
	top:0px;
	left:0px;
	z-index:1;
	box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.60);
    -moz-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.60);
    -webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.60);
}

.hidden{
	visibility:hidden;
}

#bgImg{
	position:absolute;
	top:0px;
	left:0px;
	z-index:2;
/*	background-image:url(../img/sample.png);*/
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center center;
}

#bgCanvas{
	position:absolute;
	top:0px;
	left:0px;
	z-index:3;
}

#canvas{
	position:absolute;
	top:0px;
	left:0px;
	z-index:4;
	cursor:default;
}


#control{
	position:fixed;
	width:205px;
	height:100%;
	z-index:5;
	right:0px;
	top:0px;
	background-color:#eee;
	box-shadow: -3px 3px 8px rgba(0, 0, 0, 0.60);
    -moz-box-shadow: -3px 3px 8px rgba(0, 0, 0, 0.60);
    -webkit-box-shadow: -3px 3px 8px rgba(0, 0, 0, 0.60);
}

.slidein#control{
   animation-name            	: slidein-from-right;
	-webkit-animation-name    	: slidein-from-right;
    -moz-animation-name    		: slidein-from-right;
	animation-duration        	: 0.7s;
	-webkit-animation-duration	: 0.7s;
	-moz-animation-duration		: 0.7s;
	animation-timing-function        : cubic-bezier(0.25, 0, 0.25, 1);
    -webkit-animation-timing-function: cubic-bezier(0.25, 0, 0.25, 1);
    -moz-animation-timing-function: cubic-bezier(0.25, 0, 0.25, 1);
}

@keyframes slidein-from-right {
  from { right: -210px; }
  to   { right: 0px; }
}

@-webkit-keyframes slidein-from-right {
  from { right: -210px; }
  to   { right: 0px; }
}

@-moz-keyframes slidein-from-right {
  from { right: -210px; }
  to   { right: 0px; }
}

#cover{
	position:absolute;
	top:0px;
	left:0px;
	z-index:100;
	width:100%;
	height:100%;
	background-color:#ccc;
	opacity:0.7;
	text-align:center;
	color:#fff;
	
	background-image:url(../img/remembermilk_orange.gif);
	background-repeat:no-repeat;
	background-position:center center;
}

.title#cover{
	opacity:1.0;
	background-color:#fff;
	
}

#topArea{
	margin:5px 5px 0px 5px;
	padding:5px;
	background-color:#fff;
	border:1px solid #ccc;
}

#color{
	margin:5px 0px 0px 5px;
}

#sensitivity{
	display:none;
}

#lineWidthSlider{
	margin:10px 15px 0px 15px;
	background-color:red;
}

#sensitivityInput
{
	margin-top:10px;
	height:20px;
}

#linePreview{
	margin:10px 5px 0px 5px;
	height:22px;
	background-color:#fff;
	position:relative;
	text-align:center;
	border:1px solid #ccc;
}

#linePreview .bar{
	position:relative;
	width: 80%;
	left:10%;
}


#users{
	margin:10px 5px 0px 6px;
}

#users ul{
	display:block;
	padding:0;
	clear:both;
}

#users li{
	display:block;
	float:left;
	margin-right:10px;
	padding:2px 3px 3px 3px;
	border-left:3px solid #ccc;
}

#downloadBtn{
	display:block;
	position:absolute;
	margin-left:5px;
	width:195px;
	bottom:10px;
}

#uploadArea{
	margin:10px 5px 0px 5px;
	padding:5px;
	background-color:#fff;
	border:1px solid #ccc;
}

#uploadArea button{
	margin-top:5px;
}

#dbgArea{
	position:absolute;
	margin-top:10px;
	height:100px;
	bottom:0px;
	display:none;
}

#dbg{
	width:100%;
	height:100%;
}
