/*このファイルはUTF8nで保存されています*/

html,body,div,button,canvas,form,input,textarea,ul,li{
	padding:0;
	margin:0;
	font-family:メイリオ,sans-serif;
	font-size:12px;
}

button {
	position:relative;
	padding:6px;
	margin-right:10px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

@media all and (device-width: 768px) and (device-height: 1024px) {
	button {
		-webkit-appearance:none;
		background-color:#ddd;
	}
	button[disabled]{
		background-color:#ccc;
	}
}


html{ 
    height: 100%; 
} 
body{ 
    height: 100%; 
} 
#body { 
    height: 100%;
    min-height: 100%;
} 
body > #body { 
    height: auto; 
}

#wrap{
	width:100%;
	height:100%;
	background-color:#999;
	position:relative;
	overflow:hidden;
}

#bg{
	background-color:#fff;
	position:absolute;
	top:0px;
	left:0px;
	z-index:1;
/*	box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.60);
    -moz-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.60);
    -webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.60);*/
}

.hidden{
	visibility:hidden;
}

#bgImg{
	position:absolute;
	top:0px;
	left:0px;
	z-index:2;
/*	background-image:url(../img/sample.png);*/
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center center;
}

#bgCanvas{
	position:absolute;
	top:0px;
	left:0px;
	z-index:3;
	font-family:sans-serif;
}

#canvas{
	position:absolute;
	top:0px;
	left:0px;
	z-index:4;
	cursor:default;
	font-family:sans-serif;
}


#control{
	position:fixed;
	width:205px;
	height:100%;
	z-index:5;
	right:0px;
	top:0px;
	background-color:#ccc;
/*
	box-shadow: -3px 3px 8px rgba(0, 0, 0, 0.60);
    -moz-box-shadow: -3px 3px 8px rgba(0, 0, 0, 0.60);
    -webkit-box-shadow: -3px 3px 8px rgba(0, 0, 0, 0.60);
*/
}

.slidein#control{
   animation-name            	: slidein-from-right;
	-webkit-animation-name    	: slidein-from-right;
    -moz-animation-name    		: slidein-from-right;
	animation-duration        	: 0.7s;
	-webkit-animation-duration	: 0.7s;
	-moz-animation-duration		: 0.7s;
	animation-timing-function        : cubic-bezier(0.25, 0, 0.25, 1);
    -webkit-animation-timing-function: cubic-bezier(0.25, 0, 0.25, 1);
    -moz-animation-timing-function: cubic-bezier(0.25, 0, 0.25, 1);
}

@keyframes slidein-from-right {
  from { right: -210px; }
  to   { right: 0px; }
}

@-webkit-keyframes slidein-from-right {
  from { right: -210px;
 }
  to   { right: 0px; 
}
}

@-moz-keyframes slidein-from-right {
  from { right: -210px; }
  to   { right: 0px; }
}

#cover{
	position:absolute;
	top:0px;
	left:0px;
	z-index:100;
	width:100%;
	height:100%;
	background-color:#eee;
	opacity:0.7;
	text-align:center;
	color:#fff;
	
	background-image:url(../img/loading.gif);
/*	background-image:url(../img/logo.svgz);*/
	background-repeat:no-repeat;
	background-position:center center;
}

#cover .logo{
	display:none;
}

.title#cover{
	opacity:1.0;
	background-color:#eee;
}

.title#cover .logo{
	display:block;
	width:100%;
	height:100%;
	background-image:url(../img/logo.svgz);
	background-repeat:no-repeat;
	background-position:center top;
	background-size:contain;

	-webkit-transition: all 0.5s cubic-bezier(0.25, 0, 0.25, 1);
	-moz-transition: all 0.5s cubic-bezier(0.25, 0, 0.25, 1);
	-o-transition: all 0.5s cubic-bezier(0.25, 0, 0.25, 1);
	transition: all 0.5s cubic-bezier(0.25, 0, 0.25, 1);
	opacity:0.0;
/*	top:50px;*/
	left:-100px;
	position:relative;
}

.title.animate#cover .logo{
	opacity:1.0;
/*	top:0px;*/
	left:0px;

}
/*-webkit-transition: all 1s linear;*/



#topArea{
	margin:10px 5px 0px 5px;
	padding:5px;
/*	background-color:#fff;*/
	border:1px solid #ccc;
}

#undo,
#textBtn
{
	width:40px;
}

#undo:after,
#textBtn:after{
	content:" ";
	display:block;
	width:100%;
	height:100%;
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center center;
	position:absolute;
	left:0px;
	top:0px;
}

#undo:after{
	background-image:url(../img/icon-undo.svgz);
}

button[disabled]#undo:after{
	background-image:url(../img/icon-undo-disabled.svgz);
}

#color{
	margin:5px 0px 0px 5px;
}

#sensitivity{
	display:none;
}

#lineWidthSlider{
	margin:10px 18px 0px 18px;
}

.ui-widget-content#lineWidthSlider {
	border-width:0px;
}

#sensitivityInput
{
	margin-top:10px;
	height:20px;
}

#linePreview{
/*	margin:10px 5px 0px 5px;*/
	margin:10px 10px 0px 10px;
	height:22px;
	background-color:#fff;
	position:relative;
	text-align:center;
	border:1px solid #ccc;
}

#linePreview .bar{
	position:relative;
	width: 80%;
	left:10%;
}


#users{
/*	margin:15px 5px 0px 6px;*/
	margin:15px 10px 0px 10px;
}

#users ul{
	display:block;
	padding:0;
	clear:both;
}

#users li{
	display:block;
	float:left;
	margin-right:8px;
	padding:2px 3px 3px 3px;
	border-left:3px solid #ccc;
	font-size:11px;
}

#downloadBtn{
	display:block;
	position:absolute;
/*	margin-left:5px;*/
	margin-left:10px;
	width:185px;
	bottom:10px;
}

#uploadArea{
	margin:10px 5px 0px 5px;
	padding:5px;
/*	background-color:#fff;
	border:1px solid #ccc;*/
}

#tool {
	margin:10px 5px 0px 5px;
	padding:5px;
}

#textBtn:after{
	background-image:url(../img/icon-text.svgz);
}

button[disabled]#textBtn:after{
	background-image:url(../img/icon-text-disabled.svgz);
}

#textCover{
	position:absolute;
	top:0px;
	left:0px;
	z-index:90;
	width:100%;
	height:100%;
}

.hidden#textCover{
	display:none;
}

#textCover .textCoverBG{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:#bbb;
	opacity:0.6;
	cursor:text;
}

#textCover .textInputArea{
	position:absolute;
	top:0px;
	left:0px;
}

#textCover .textInputArea #textInput{
	padding:2px;
	font-size:13px;
	width:150px;
	margin-right:10px;
	font-family:sans-serif;
}

#textCover .textInputArea button{
	position:absolute;
	top:0px;
}

#textCover .textInputArea #textOKBtn{
	left:170px;
}


#textCover .textHowTo{
	position:fixed;
	width:185px;
	height:100px;
	right:10px;
	margin-right:0px;
	bottom:50px;
	font-size:19px;
	color:#fff;
	font-weight:bold;
}

#textCover .textHowTo:before {
	content:"文字を入力する箇所をクリックしてください";
}

#textCancelBtn{
	position:fixed;
	width:185px;
	right:10px;
	margin-right:0px;
	bottom:10px;
}


#uploadArea button{
	margin-top:5px;
}

#dbgArea{
	position:absolute;
	margin-top:10px;
	height:100px;
	bottom:0px;
	display:none;
}

#dbg{
	width:100%;
	height:100%;
}
